.work .list {
  display: flex;
  flex-direction: column;
}

.work .list-item {
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 2px -3px rgba(235, 235, 235, 1);
}

.work .company-name {
  margin: 0;
  font-size: 18px;
}

.work .position {
  margin: 8px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
}